body {
    background: rgb(20, 20, 20);
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
}

.tutorials {
    display: flex;
    flex-wrap: wrap;
}

.tutorial {
    width: 30%;
    padding: 10px;
    padding: 20px 10px;
    margin: 10px;
    background-color: rgb(40, 40, 40);
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 5px;
}

    .tutorial:hover {
        background-color: rgb(55, 55, 55);
    }

    .tutorial img {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
    }

.powerPoint {
    display: block;
    border-radius: 5px;
    text-align: center;
}

    .powerPoint img {
        width: 200px;
        height: 200px;
        border-radius: 60px;
    }

        .powerPoint img:hover {
            filter: brightness(75%);
        }

h1 {
    color: rgb(220, 220, 220);
    text-align: center;
}

h2 {
    color: rgb(220, 220, 220);
    text-align: center;
}

h3 {
    color: rgb(220, 220, 220);
    text-align: center;
}

p {
    color: rgb(220, 220, 220);
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgb(50, 160, 0);
}